<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Happiness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAB423251EEEE24A004CDF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB4233C1EEEE24B004CDF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB423471EEEE24B004CDF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
